extends ../layout

block body
	h1 #{ appName } admin panel

	p Teams

	ul
		li: a( href="/admin/team/create" ) Add a team
		li: a( href="/admin/team/read" ) View all teams

	p Players

	ul
		li: a( href="/admin/player/create" ) Add a player
		li: a( href="/admin/player/read" ) View all players

	p: a( href="/admin/logout" ) Logout