extends ../layout

block body
	h1 #{ appName } admin panel

	p Teams

	ul
		li: a( href="/admin/add-team" ) Add a team
		li: a( href="/admin/view-teams" ) View all teams

	p Players

	ul
		li: a( href="/admin/add-player" ) Add a player
		li: a( href="/admin/view-players" ) View all players

	p: a( href="/logout" ) Logout