extends ../layout

block body
	h1 #{ appName } admin panel

	p Teams

	ul
		li: a( href="/admin/team/create" ) Add a team
		li: a( href="/admin/team/createRaw" ) Add teams (raw input)
		li: a( href="/admin/team/read" ) View all teams

	p Players

	ul
		li: a( href="/admin/player/create" ) Add a player
		li: a( href="/admin/player/createRaw" ) Add players (raw input)
		li: a( href="/admin/player/read" ) View all players

	p Fixtures

	ul
		li: a( href="/admin/fixture/create" ) Add a fixture
		li: a( href="/admin/fixture/createRaw" ) Add a fixture (raw input)
		li: a( href="/admin/fixture/read" ) View all fixtures

	p: a( href="/admin/logout" ) Logout