extends ../layout

block body
	h1 #{ appName } admin panel

	h2 All teams

	if teams.length == 0
		p No teams found
	else
		ol
			each team in teams
				li #{ team.name } &middot; #[a( href="/admin/save-team?id=#{ team._id }" ) edit] &middot; #[a( href="/admin/delete-team?id=#{ team._id }" ) delete]

	p: a( href="/admin/panel" ) Admin Panel
	p: a( href="/logout" ) Logout