extends ../layout

block body
	h1 Home

	ul
		if user
			li: a( href="/#{ user.username }/team" ) My team
			li: a( href="/user/logout" ) Logout
		else
			li: a( href="/signup" ) Signup
			li: a( href="/login" ) Login