extends ../layout

block body
	h1 #{ appName }

	ul
		if user
			li: a( href="/#{ user.username }/team" ) My team
			li: a( href="/logout" ) Logout
		else
			li: a( href="/signup" ) Signup
			li: a( href="/login" ) Login

		li: a( href="/matches/5" ) Matches
		li: a( href="/standings" ) #{ leagueName } standings