extends ../layout

block body
	include ./includes/header

	h1 Team page

	p @#{ user.username }'s team name - #[strong #{ user.teamName }]
	p Fan of #{ user.supporterOf }
	p From #{ user.country }
	br

	p: a( href="/user/logout" ) Logout