extends ../layout

block body
	include ../site/includes/header

	h1 Team page

	p @#{ user.username }'s team name - #[strong #{ user.teamName }]
	p Fan of #{ user.supporterOf }
	br

	if isLoggedIn
		p: a( href="/logout" ) Logout